# definir les variables d'environnement
# renommer le fichier en .env
CAMINO_TAG=latest
ENV=dev
HOST=
UI_HOST=
API_HOST=
DOC_HOST=
STORYBOOK_HOST=
API_URL=https://${API_HOST}
UI_URL=https://${UI_HOST}
OAUTH_URL=
KEYCLOAK_URL=


# environnement node.js
NODE_ENV=development
API_PORT=4000
UI_PORT=3000
OAUTH_PORT=4180
KEYCLOAK_PORT=8080
STORYBOOK_PORT=2000
DOC_PORT=80
NODE_DEBUG=false

# jwt
# attention il faut garder les doubles "" pour interpréter correctement les retours à la ligne
JWT_SECRET="-----BEGIN PUBLIC KEY-----\nXXXXX\n-----END PUBLIC KEY-----"
JWT_SECRET_ALGORITHM='RS256'

# keycloak
KEYCLOAK_CLIENT_SECRET=secret
KEYCLOAK_ADMIN_PASSWORD=toto

# oauth2 --> dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64 | tr -d -- '\n' | tr -- '+/' '-_'; echo
OAUTH2_COOKIE_SECRET=secret

# postgreSQL
PGHOST=localhost
PGPORT=5432
PGDATABASE=camino
PGUSER=postgres
PGPASSWORD=''

# admin user
ADMIN_EMAIL=email@domaine.com

# email
API_MAILJET_EMAIL=email@domaine.com
API_MAILJET_KEY=
API_MAILJET_SECRET=
API_MAILJET_SERVER=in-v3.mailjet.com
API_MAILJET_CONTACTS_LIST_ID=

# API de détection d'intersection avec les communes
API_GEO_URL=""

# API Openfisca
API_OPENFISCA_URL="http://localhost:8000"

# certificat ssh (docker-compose)
LETSENCRYPT_EMAIL=""
