packages/api/api-cache
packages/api/backups
packages/api/coverage
packages/api/dist
packages/api/docs
packages/api/files
packages/api/node_modules
packages/api/sources
packages/api/CHANGELOG.md
packages/api/**/*.json
packages/api/**/*.queries.types.ts