/*
    Theme
-------------------------------
*/

.title {
  font-size: calc(var(--base-font-size) * 2.03999);
  line-height: calc(var(--unit) * 1.5);
}

.map:not(.leaflet-pseudo-fullscreen) {
  z-index: 0;
}

.map-detail,
.map-view {
  min-height: calc(var(--unit) * 21);
}

.points {
  height: calc(var(--unit) * 24);
  overflow-y: scroll;
}

.points .container {
  min-height: 100%;
}

.line {
  /* margin-top: calc(var(--unit-xxs) * -1); */
  border-top: var(--unit-xxs) solid var(--color-alt);
}

.line-neutral {
  /* margin-top: calc(var(--unit-xxs) * -1); */
  border-top: var(--unit-xxs) solid var(--color-neutral);
}

.separator {
  display: block;
  width: calc(var(--col-width) / 2 - var(--gutter));
  height: var(--unit-xs);
  margin-top: calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  background: var(--dsfr-bf500);
}

.content {
  padding-top: var(--unit);
}

.accordion-header {
  align-items: stretch;
  flex-flow: column wrap;
}

.dropdown {
  z-index: 1;
}

.lh-2 {
  line-height: 2;
}

.lh-1-25 {
  line-height: calc(var(--unit) * 1.25);
}

@media (--viewport-tablet) {
  .tablet-pt-s {
    padding-top: var(--unit-s);
  }

  .tablet-mb-0 {
    margin-bottom: 0;
  }

  .tablet-mb {
    margin-bottom: var(--unit);
  }

  .tablet-mb-s {
    margin-bottom: var(--unit-s);
  }

  .tablet-mb-m {
    margin-bottom: var(--unit-m);
  }

  .map-view {
    min-height: calc(24 * var(--unit));
    height: calc(100vh - (15 * var(--unit)));
  }

  .table-view {
    min-height: calc(24 * var(--unit));
  }

  .accordion-header {
    flex-direction: row;
  }
}
