.caminoModal {
  border: none;
  color: inherit;
  background-color: rgba(22, 22, 22, 0.64);
  --ground: 2000;
  z-index: 1750;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: inherit;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  /**
  * Modifier pour fixer la modale en haut en mobile (par defaut en bas)
  */
}
.caminoModal > .fr-container {
  pointer-events: none;
}
.caminoModal:focus {
  outline: none;
}
.caminoModal::before {
  content: '';
  display: block;
  width: 0;
  height: 2rem;
  flex: 1 0 2rem;
}
.caminoModal::after {
  content: '';
  width: 0;
  height: 10vh;
  flex: 1 0 10vh;
}
.caminoModal--top::before {
  content: none;
}
.caminoModal--top::after {
  content: '';
}

.caminoModalBody {
  --modal-max-height: calc(100vh - 2rem);
  pointer-events: all;
  overflow-y: auto;
  flex: 1 1 auto;
  max-height: var(--modal-max-height);
  z-index: calc(var(--ground) + 2000);
  background-color: var(--background-lifted-grey);
  --idle: transparent;
  --hover: var(--background-lifted-grey-hover);
  --active: var(--background-lifted-grey-active);
  filter: drop-shadow(var(--lifted-shadow));
  max-height: calc(100vh - 2rem);
}
.caminoModalHeader {
  flex: auto 0 0;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0.5rem;
}
.caminoModalContent {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3.5rem;
}
.caminoModalFooter {
  flex: auto 0 0;
  display: flex;
  padding: 1rem;
  margin-top: -2.5rem;
  position: sticky;
  bottom: 0;
  transition: box-shadow 0.3s;
  background-color: var(--background-default-grey);
  --idle: transparent;
  --hover: var(--background-default-grey-hover);
  --active: var(--background-default-grey-active);
}
.caminoModalFooter .fr-btns-group {
  margin-bottom: -1rem;
  width: calc(100% + 1rem);
}
.caminoModalTitle {
  --title-spacing: 0 0 1rem 0;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--text-title-grey);
}
.caminoModalTitle[class^='fr-icon-'],
.caminoModalTitle[class*=' fr-icon-'],
.caminoModalTitle[class^='fr-fi-'],
.caminoModalTitle[class*=' fr-fi-'] {
  margin-right: 0.5rem;
}
.caminoModalBody.fr-scroll-shadow .caminoModalFooter {
  box-shadow: inset 0 -2rem 1.5rem -2rem #161616;
}
