.dsfr .typeahead-wrapper {
  all: unset;
}

.typeahead-wrapper {
  border: 0 none;
  height: auto;
  color: inherit;
  background-color: var(--color-alt);
  box-shadow: 0 2px 0 0 var(--dsfr-g600);
  flex-wrap: wrap;
  padding: var(--unit-xs);
}
