/*
      Forms
-------------------------------
*/

.input {
  width: 100%;
  border: 0 none;
  background-color: var(--color-alt);
  height: auto;
  color: inherit;
  box-shadow: 0 2px 0 0 var(--dsfr-g600);
}

input.success {
  border-right: var(--unit-s) solid var(--color-success);
}

input.error {
  border-right: var(--unit-s) solid var(--color-error);
}

.input-disabled {
  background-color: var(--color-alt-transparent);
}
