/*
      Lists
-------------------------------

*/

.list-sans {
  padding: 0;
  list-style: none;
}

.list-inline {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 0;
  list-style: none;

  & > li:not(.right) {
    float: left;
  }

  & > li.right {
    float: right;
  }
}

.list-inline.flex-right {
  margin-right: calc(-1 * var(--unit-xs));
}

.list-inline::after {
  content: '';
  display: block;
  clear: both;
}
