/*
    Typography
-------------------------------
*/

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.mono {
  font-family: 'Lucida Sans Typewriter', monaco, 'Lucida Console', monospace;
}
