.timeline [href] {
  background-image: none;
  background-position: unset;
  background-size: unset;
}

.datesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  color: var(--text-action-high-grey);
  font-weight: 500;
}

.phasesContainer {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
.phase {
  height: 8px;
  flex: 1;
  background-color: var(--background-action-low-blue-france) !important;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.event {
  width: 20px;
  height: 20px;
  background-color: var(--background-action-low-blue-france) !important;

  border: 2px solid var(--background-action-high-blue-france);
  border-radius: 50%;
}

.phaseHover,
.event:hover {
  background-color: var(--background-action-low-blue-france-hover) !important;
}

.phase[aria-current],
.event[aria-current] {
  background-color: var(--background-action-high-blue-france) !important;
}

.phaseHover[aria-current],
.event[aria-current]:hover {
  background-color: var(--background-action-high-blue-france-hover) !important;
}
