name: Graphql
on:
  workflow_call:
jobs:
  test:
    name: check-schema
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.9'
          cache: 'npm'
      - name: Graphql inspector
        run : make graphql/check
          
