name: UI
on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        description: 'le token pour pouvoir pousser la couverture de code'
        required: true
      DOCKER_USERNAME:
        description: 'le user docker'
        required: true
      DOCKER_TOKEN:
        description: 'le token docker'
        required: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.9'
          cache: 'npm'
      - name: Install
        run:  make install
      - name: Lint
        run: make lint/ui
          
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.9'
          cache: 'npm'
      - name: Test units
        run: |
          make install
          make test/ui
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ui
  build:
    needs: [test, lint]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build . --build-arg GIT_SHA=${GITHUB_SHA} -f Dockerfile.ui -t caminofr/camino-ui:${GITHUB_SHA}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Push Docker image to the Docker Hub
        if: github.ref == 'refs/heads/master'
        run: docker push caminofr/camino-ui:${GITHUB_SHA}
